<div th:fragment="header">
    <div id="header">
        <div class="logo">
            <!--<a href="/main">함께하길</a>-->
        </div>
        <nav>

            <ul>
                <li>
                    <a href="/boards">Home</a>
                </li>
                <li>
                    <a href="">내정보</a>
                </li>
                <li>
                    <a href="/users">로그인</a>
                </li>
                <li>
                    <a href="/logout">로그아웃</a>
                </li>
            </ul>
        </nav>
    </div>
</div>